@model AuctionViewModel

@{
    ViewBag.Title = "Auction details";
    Layout = "_Layout";
}

<div class="container">
    <h2>Auction Details</h2>
    <ul class="nav nav-pills">
        @if (Model.CanManage)
        {
            <li class="pull-right">
                <form method="post" asp-controller="Auction" asp-action="Cancel" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </form>
            </li>
        }
        else
        {
            <li class="pull-right">
                <form class="form-inline" method="post" asp-controller="Auction" asp-action="Bid" asp-route-id="@Model.Id">
                    <input class="form-control" type="search" asp-for="Amount" />
                    <button type="submit" class="btn btn-primary">Bid</button>
                </form>
            </li>
        }
    </ul>
    <div class="form-group">
        <label asp-for="@Model.Seller.Name">Seller</label><br />
        <input class="form-control" asp-for="@Model.Seller.Name" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Lot.Name"></label><br />
        <input class="form-control" asp-for="@Model.Lot.Name" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Lot.Description"></label><br />
        <input class="form-control" asp-for="@Model.Lot.Description" readonly />
    </div>
    @if (Model.Closes.HasValue)
    {
        <div class="form-group">
            <label asp-for="@Model.Closes"></label><br />
            <input class="form-control" asp-for="@Model.Closes" readonly />
        </div>
    }
    @if (Model.CurrentAmount != null)
    {
        <div class="form-group">
            <label asp-for="@Model.CurrentAmount">Current amount</label><br />
            <input class="form-control" asp-for="@Model.CurrentAmount" readonly />
        </div>
    }
    @if (Model.Bids.Any())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Bidder</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bid in Model.Bids)
                {
                    <tr>
                        <td>@bid.Amount.ToString()</td>
                        <td>@bid.Date</td>
                        <td>@bid.Bidder.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
