@model AuctionListViewModel

@{
    ViewBag.Title = "Auctions";
    Layout = "_Layout";
}

<div class="container">
    <h2>Auctions</h2>
    <ul class="nav nav-pills">
        <li class="pull-right">
            <a asp-area="" asp-controller="Auction" asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create</a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Seller</th>
                <th>Lot name</th>
                <th>Closes</th>
                <th>Current amount</th>
                <th>Bids</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var auction in Model.Auctions)
            {
                <tr>
                    <td>@auction.Seller.Name</td>
                    <td><a asp-controller="Auction" asp-action="Detail" asp-route-id="@auction.Id">@auction.Lot.Name</a></td>
                    <td>@auction.Closes?.ToShortDateString()</td>
                    <td>@auction.CurrentAmount?.ToString()</td>
                    <td>@auction.Bids</td>
                </tr>
            }
        </tbody>
    </table>
</div>